ul{
    list-style: none;
}

#joueur{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 1%;
}

#joueur > li{
    border: 2px solid black;
    width: 80%;
    padding: 1%;
    margin: 0.5%;
}

#joueur > li > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



#navBar{
    display: flex;
    justify-content: space-evenly;
}

#navBar > input[type="search"]{
    width: 50%;
}
#navBar > button[type="button"]{
    width: 15%;
}